.logo{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-image: url('https://universitas-raharja.s3.ap-southeast-3.amazonaws.com/foto_profile/2023-10-25_130605');
    background-size: contain;
    background-position: center;
}



.welcome-speech h1{
    font-weight: bold;
    font-size: 25px;
}


html {
  scroll-behavior: smooth;
}


